{% extends 'soft-ui-base.html.twig' %}

{% block title %}Add assignment{% endblock %}

{% block body %}
    <h1>Add assignment</h1>
    <div class="row">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
