{% extends 'soft-ui-base.html.twig' %}

{% block title %}Assignments{% endblock %}

{% block body %}
    <h1>Assignments</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('assignment_add') }}" role="button"><i class="fa-solid fa-file-circle-plus"></i> Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date set</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                    <tr>
                        <td>
                            {{ assignment.getTitle() }}
                        </td>
                        <td>
                            {{ assignment.getDateSet().format('d/m/Y') }}
                        </td>
                        <td class="text-end">
                            <a href="{{ path('assignment_view', {id: assignment.getId()}) }}" role="button" class="btn btn-primary">
                                <i class="fa-solid fa-circle-info"></i> View
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
