{% extends 'soft-ui-base.html.twig' %}

{% block title %}Family members{% endblock %}

{% block body %}
    <h1>Family members</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('app_family_member_add') }}" role="button">Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for family_member in family_members %}
                    <tr>
                        <td>
                            {{ family_member.getId() }}
                        </td>
                        <td>
                            <a href="{{ path('app_family_member_view', {id: family_member.getId()}) }}" role="button">
                                {{ family_member.getName() }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
