{% extends 'base.html.twig' %}

{% block title %}{{ family_member.getName() }}{% endblock %}

{% block body %}
    <h1>{{ family_member.getName() }}</h1>
    <div class="row">
        <div class="col">

        </div>
    </div>
{% endblock %}
